<a href="https://colab.research.google.com/github/nana881023/Financial_Big_Data_Analysis/blob/main/Week2_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 證交所爬股票資料
- 股票代號(symbol)：2330
- 今天日期(current_date)：date.today()
- 證交所api：https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date={current_date}&stockNo={symbol}
- 欄位標題：都用爬的

In [116]:
import pandas as pd
import requests
from datetime import date
from IPython.display import display
import json

# 股票代號
symbol='2330'

# 今天日期
current_date=date.today().strftime('%Y%m%d')

# 使用API請求URL
url=f'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date={current_date}&stockNo={symbol}'

# 發送請求並獲取數據
response=requests.get(url)
json_data=response.json()

# 從API抓取標題和數據
title=json_data['title']
stock_data=json_data['data']
columns=json_data['fields']

# 創建DataFrame
df=pd.DataFrame(stock_data,columns=columns)

# 顯示標題
print(title)

# 顯示DataFrame
display(df.style.set_properties(**{'text-align':'right'}))

113年09月 2330 台積電           各日成交資訊

In [118]:
print(json.dumps(response.json(),indent=4))

{
    "stat": "OK",
    "date": "20240919",
    "title": "113\u5e7409\u6708 2330 \u53f0\u7a4d\u96fb           \u5404\u65e5\u6210\u4ea4\u8cc7\u8a0a",
    "fields": [
        "\u65e5\u671f",
        "\u6210\u4ea4\u80a1\u6578",
        "\u6210\u4ea4\u91d1\u984d",
        "\u958b\u76e4\u50f9",
        "\u6700\u9ad8\u50f9",
        "\u6700\u4f4e\u50f9",
        "\u6536\u76e4\u50f9",
        "\u6f32\u8dcc\u50f9\u5dee",
        "\u6210\u4ea4\u7b46\u6578"
    ],
    "data": [
        [
            "113/09/02",
            "19,272,593",
            "18,270,058,260",
            "950.00",
            "955.00",
            "943.00",
            "948.00",
            "+4.00",
            "31,642"
        ],
        [
            "113/09/03",
            "23,205,623",
            "21,908,471,541",
            "948.00",
            "952.00",
            "939.00",
            "940.00",
            "-8.00",
            "47,139"
        ],
        [
            "113/09/04",
            "93,169,835",
            "83,424,133,824",
            "894.00",
            "905.00",
            "888.00",
            "889.00",
            "-51.00",
            "393,210"
        ],
        [
            "113/09/05",
            "34,147,890",
            "30,998,595,394",
            "907.00",
            "915.00",
            "900.00",
            "902.00",
            "+13.00",
            "63,902"
        ],
        [
            "113/09/06",
            "28,248,063",
            "25,786,016,936",
            "909.00",
            "918.00",
            "903.00",
            "918.00",
            "+16.00",
            "38,415"
        ],
        [
            "113/09/09",
            "38,448,946",
            "34,456,838,126",
            "892.00",
            "900.00",
            "891.00",
            "899.00",
            "-19.00",
            "102,365"
        ],
        [
            "113/09/10",
            "34,312,646",
            "31,067,424,234",
            "907.00",
            "911.00",
            "901.00",
            "904.00",
            "+5.00",
            "45,141"
        ],
        [
            "113/09/11",
            "19,513,256",
            "17,621,000,956",
            "906.00",
            "906.00",
            "900.00",
            "901.00",
            "-3.00",
            "30,789"
        ],
        [
            "113/09/12",
            "43,749,260",
            "40,999,951,508",
            "936.00",
            "944.00",
            "928.00",
            "940.00",
            "X0.00",
            "80,643"
        ],
        [
            "113/09/13",
            "28,307,441",
            "26,795,862,243",
            "955.00",
            "955.00",
            "939.00",
            "947.00",
            "+7.00",
            "39,071"
        ],
        [
            "113/09/16",
            "14,456,888",
            "13,692,259,575",
            "952.00",
            "952.00",
            "943.00",
            "947.00",
            " 0.00",
            "26,421"
        ],
        [
            "113/09/18",
            "30,094,662",
            "28,303,054,525",
            "945.00",
            "948.00",
            "933.00",
            "941.00",
            "-6.00",
            "46,622"
        ],
        [
            "113/09/19",
            "35,254,383",
            "33,482,773,635",
            "940.00",
            "960.00",
            "936.00",
            "960.00",
            "+19.00",
            "53,494"
        ]
    ],
    "notes": [
        "\u7b26\u865f\u8aaa\u660e:+/-/X\u8868\u793a\u6f32/\u8dcc/\u4e0d\u6bd4\u50f9",
        "\u7576\u65e5\u7d71\u8a08\u8cc7\u8a0a\u542b\u4e00\u822c\u3001\u96f6\u80a1\u3001\u76e4\u5f8c\u5b9a\u50f9\u3001\u9245\u984d\u4ea4\u6613\uff0c\u4e0d\u542b\u62cd\u8ce3\u3001\u6a19\u8cfc\u3002",
        "ETF\u8b49\u5238\u4ee3\u865f\u7b2c\u516d\u78bc\u70baK\u3001M\u3001S\u3001C\u8005\uff0c\u8868\u793a\u8a72ETF\u4ee5\u5916\u5e63\u4ea4\u6613\u3002",
        "\u6b0a\u8b49\u8b49\u5238\u4ee3\u865f\u53ef\u91cd\u8907\u4f7f\u7528\uff0c\u6b0a\u8b49\u986f\u793a\u4e4b\u540d\u7a31\u4fc2\u76ee\u524d\u5b58\u7e8c\u6b0a\u8b49\u4e4b\u7c21\u7a31\u3002"
    ],
    "total": 13
}

### yahoo股票資料爬蟲
- 股票代號：2330
- 目標網址：https://tw.stock.yahoo.com/quote/2330.TW

In [119]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# 目標網址
url='https://tw.stock.yahoo.com/quote/2330.TW'

# 發送請求
headers={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}
response=requests.get(url,headers=headers)

# 使用BeautifulSoup解析HTML
soup=BeautifulSoup(response.text,'html.parser')

# 找到指定的 class
element=soup.find('ul',class_="D(f) Fld(c) Flw(w) H(192px) Mx(-16px)")

data={}

if element:
    for li in element.find_all('li'):
        spans=li.find_all('span')
        if len(spans)==2:
            label=spans[0].text.strip()
            value=spans[1].text.strip()
            data[label]=[value]

    # 創建DataFrame
    df=pd.DataFrame(data)

display(df)

    成交   開盤   最高   最低   均價 成交金額(億)   昨收      總量      昨量     振幅
0  960  940  960  936  949  310.27  941  32,674  28,394  2.55%